.input {
  padding: 10px;
  font-size: 1rem;
  min-width: 300px;
  background: #2d2d2d;
  border: none;
  border-radius: 5px;
  &:focus {
    outline: 1px solid rgb(220, 255, 80);
    border: none;
  }
  &::placeholder {
    color: #f1f1f1;
  }
}
