.login-logo {
  margin: 16px 0;
  font-size: 22px;
  color: rgb(238, 238, 238);
}

.site-layout .site-layout-background {
  background: #1f1f1f;
}
.full {
  height: 84vh;
}
.border-r-1 {
  border-right: 1px solid #434343;
}
.site-page-header-ghost-wrapper {
  padding: 20px;
}
